/* General styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: #333;
  }
  
  /* Container for About Us section */
  .about-us-container {
    padding: 20px;
    text-align: center;
    background-color: #f7f7f7;
  }
  
  /* Hero Section */
  .hero-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    background-color: #ececec;
    border-bottom: 5px solid #ccc;
  }
  
  .hero-content {
    max-width: 50%;
    text-align: left;
  }
  
  .hero-content h1 {
    font-size: 3rem;
    color: #444;
  }
  
  .hero-content p {
    font-size: 1.2rem;
    color: #666;
  }
  
  .hero-image-container {
    max-width: 40%;
  }
  
  .hero-image {
    width: 100%;
    border-radius: 10px;
  }
  
  /* About Us Title and Description */
  .about-us-title {
    font-size: 2.5rem;
    color: #444;
    margin-top: 40px;
  }
  
  .about-us-description {
    font-size: 1.2rem;
    color: #666;
    margin-bottom: 20px;
  }
  
  /* Team Cards Section */
  .team-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px 0;
    background-color: #fff;
  }
  
  .card {
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    width: 250px;
    text-align: center;
    padding: 15px;
    transition: transform 0.3s;
  }
  
  .card:hover {
    transform: scale(1.05);
  }
  
  .card-image img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
  }
  
  .card-content h2 {
    font-size: 1.5rem;
    margin-bottom: 5px;
  }
  
  .card-content p {
    font-size: 0.9rem;
    margin: 5px 0;
    color: #555;
  }
  
  .linkedin-btn,
  .github-btn {
    display: inline-block;
    margin: 5px;
    padding: 8px 12px;
    font-size: 0.9rem;
    text-decoration: none;
    border-radius: 5px;
    color: white;
  }
  
  .linkedin-btn {
    background-color: #0077b5;
  }
  
  .github-btn {
    background-color: #333;
  }
  
  .linkedin-btn:hover {
    background-color: #005580;
  }
  
  .github-btn:hover {
    background-color: #000;
  }
  