/* Breadcrumb Section */
.breadcrumb-section {
    background-color: #f7f7f7;
    padding: 50px 0;
}

.breadcrumb-bg {
    background: url('../../public/images/about.png') no-repeat center center;
    background-size: cover;
}

.breadcrumb-text {
    color: #fff;
}

/* Article Section */
/* Article Section */
.single-article-section {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex; /* ترتيب النص والصورة بجانب بعض */
    gap: 20px; /* مسافة بين النص والصورة */
    justify-content: center;
    align-items: flex-start;
}

/* النصوص */
.single-article-text {
    flex: 1; /* النص يأخذ نفس حيز الصورة */
    height: auto; /* يتم ضبط الطول لاحقًا بناءً على طول الصورة */
    max-height: 100%; /* النص لا يتجاوز طول الصورة */
    overflow-y: auto; /* تمرير عمودي فقط */
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    line-height: 1.6; /* مسافة مناسبة بين الأسطر */
    color: #333;
    word-wrap: break-word; /* ضمان أن الكلمات الطويلة تنزل للأسطر التالية */
}

/* الصورة */
.article-image {
    width: 400px; /* عرض ثابت للصورة */
    height: 400px; /* الطول يتناسب مع العرض */
    border-radius: 8px;
    margin: 0px 13px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* ضمان توافق طول النص مع الصورة */
.single-article-section .single-article-text {
    height: 400px; /* جعل النص تلقائي الارتفاع */
    max-height: 400px; /* ضبط الطول بما يناسب طول الصورة */
}
